@model SSTruyen.Models.Truyen

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin truyện</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDTruyen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDTruyen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tentruyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tentruyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tacgia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tacgia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nguon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nguon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangthai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yeuthich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yeuthich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gioithieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gioithieu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.anh)
        </dt>
        <dd>
            <img src="/Assets/image/@Html.DisplayFor(model => model.anh)" style="width:200px; height:200px;"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.IDTruyen }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
